pipeline/UpdateLinkedService.json
{
	"name": "UpdateLinkedService",
	"properties": {
		"activities": [
			{
				"name": "GetADToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/298296dc-ebf4-4fdf-817e-11533c0c670c/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=078a4010-f8a4-4b6e-846f-75416b5f0b76&client_secret=ksJ8Q~TTWp10p.2towAjtHj.Q5izAXYtMUsJKduK&resource=https%3A%2F%2Fgraph.microsoft.com\n"
				}
			},
			{
				"name": "UpdateLinkedService",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetADToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/0035fb82-9251-4c65-afd3-ee139dfb4466/resourceGroups/decryptazure/providers/Microsoft.DataFactory/factories/decryptadf/linkedservices/Odata1?api-version=2018-06-01",
					"method": "PUT",
					"headers": {
						"Authorization": {
							"value": "@activity('GetADToken').output.value",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n    \"type\": \"Microsoft.DataFactory/factories/linkedservices\",\n    \"properties\": {\n        \"annotations\": [],\n        \"type\": \"OData\",\n        \"typeProperties\": {\n            \"url\": \" https://tessenderlogroup-pilot.csod.com/services/api/x/odata/api/views\",\n            \"authenticationType\": \"Anonymous\",\n            \"authHeaders\": {\n                \"Authorization\": {\n                    \"type\": \"SecureString\",\n                    \"value\": \"@{variables('token')}\"\n                }\n            }\n        }\n    }\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetCSODToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://tessenderlogroup-pilot.csod.com/services/api/oauth2/token?Content-Type=application/json&cache-control=no-cache",
					"method": "POST",
					"headers": {
						"Accept": "application/json"
					},
					"body": {
						"clientId": "18n7745n5ams8",
						"clientSecret": "535b7060ec3e9032a1dd317b9145ba0260f078a6156c082fc7d9cb97315eb93f",
						"grantType": "client_credentials",
						"scope": "all"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "UpdateLinkedService",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ODataResource1",
						"type": "DatasetReference",
						"parameters": {
							"view": "vw_rpt_applicant"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"Filesystem": "datalakedevck",
							"Directory": "Downloaded",
							"Filename": "applicant.parquet"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetCSODToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "token",
					"value": {
						"value": "@concat('Bearer ', activity('GetCSODToken').output.access_token)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"token": {
				"type": "String"
			},
			"adtoken": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-07T05:11:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}