pipeline/UpdateLinkedService.json
{
	"name": "UpdateLinkedService",
	"properties": {
		"activities": [
			{
				"name": "GetADToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/298296dc-ebf4-4fdf-817e-11533c0c670c/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=078a4010-f8a4-4b6e-846f-75416b5f0b76&client_secret=ksJ8Q~TTWp10p.2towAjtHj.Q5izAXYtMUsJKduK&resource=https%3A%2F%2Fgraph.microsoft.com\n"
				}
			},
			{
				"name": "UpdateLinkedService",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetCSODToken",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetADToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/0035fb82-9251-4c65-afd3-ee139dfb4466/resourceGroups/decryptazure/providers/Microsoft.DataFactory/factories/decryptadf/linkedservices/Odata1?api-version=2018-06-01",
					"method": "PUT",
					"headers": {
						"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IjJaUXBKM1VwYmpBWVhZR2FYRUpsOGxWMFRPSSIsImtpZCI6IjJaUXBKM1VwYmpBWVhZR2FYRUpsOGxWMFRPSSJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuY29yZS53aW5kb3dzLm5ldCIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0LzI5ODI5NmRjLWViZjQtNGZkZi04MTdlLTExNTMzYzBjNjcwYy8iLCJpYXQiOjE2NjgwODY3ODUsIm5iZiI6MTY2ODA4Njc4NSwiZXhwIjoxNjY4MDkxNTUyLCJhY3IiOiIxIiwiYWlvIjoiQVVRQXUvOFRBQUFBOXUyelMzNGZBTUhTUGVTTGJnaUovNEJpZm5GbXo1VERSUEJxMDBoSHk1Q1lMUVZMT1NkMmhJY05ycVVzbG53RUZlY2tzL2NDZUxvZXhmdlBkTFh5QkE9PSIsImFsdHNlY2lkIjoiMTpsaXZlLmNvbTowMDAzNDAwMTE4MDVFODNBIiwiYW1yIjpbInB3ZCJdLCJhcHBpZCI6IjE4ZmJjYTE2LTIyMjQtNDVmNi04NWIwLWY3YmYyYjM5YjNmMyIsImFwcGlkYWNyIjoiMCIsImVtYWlsIjoiY2hyaXN0b3BoZS5rZXZlcnNAZ21haWwuY29tIiwiZmFtaWx5X25hbWUiOiJLZXZlcnMiLCJnaXZlbl9uYW1lIjoiQ2hyaXN0b3BoZSIsImdyb3VwcyI6WyJjZjMwZTM0Yy05NjM3LTRhZTctYmY3OS04YjM3NGZjNGMzM2YiXSwiaWRwIjoibGl2ZS5jb20iLCJpcGFkZHIiOiIxNjUuMjI1LjEyLjg4IiwibmFtZSI6IkNocmlzdG9waGUgS2V2ZXJzIiwib2lkIjoiZmVmMWEzNjUtNzk2Ni00MDM1LThmN2YtNDgzYjJmZGM0NmZhIiwicHVpZCI6IjEwMDMyMDAwNDNGMzI1NjgiLCJyaCI6IjAuQVRvQTNKYUNLZlRyMzAtQmZoRlRQQXhuREVaSWYza0F1dGRQdWtQYXdmajJNQk02QUkwLiIsInNjcCI6InVzZXJfaW1wZXJzb25hdGlvbiIsInN1YiI6IlQ1NWE0YlVvWDdfZ2l3TzlpdGZrNVpmclBDUjg4eHEwZFI2dzNEX3N1anMiLCJ0aWQiOiIyOTgyOTZkYy1lYmY0LTRmZGYtODE3ZS0xMTUzM2MwYzY3MGMiLCJ1bmlxdWVfbmFtZSI6ImxpdmUuY29tI2NocmlzdG9waGUua2V2ZXJzQGdtYWlsLmNvbSIsInV0aSI6Ik9hUkFORFRVMFVHZlZmRDgtdXVXQUEiLCJ2ZXIiOiIxLjAiLCJ3aWRzIjpbIjYyZTkwMzk0LTY5ZjUtNDIzNy05MTkwLTAxMjE3NzE0NWUxMCIsImI3OWZiZjRkLTNlZjktNDY4OS04MTQzLTc2YjE5NGU4NTUwOSJdLCJ4bXNfdGNkdCI6MTU1NDk1NzIxOX0.pUDR6Q6m2P6834l2LV4tX0Tngr5JB7fprFiYCRbED5-4yzMRTgMTUKLk0YTk36fUonpJCeKdwObwEMgabUGZUtGuCyE25b0e1CG2TuKfQS_k1CQW9FL8X75TzvSoFrpKXjKPYt0ALxYEKQ0pqkVwvBj4A77-ovOFWqhtLI1vTMtACC8opNp5dDWiDoF3b_kCV7BoqP8qijN5sZ2XDpJgM-avlHCzAh9aKwZRwFb-MU5JYoJESnHhiqM7iz5hDclbZda3UsDKNq0aBeMe81yGq2DPcrEevbCMfP9JQhPNx1H7C6YIXo8iK8unXqtk_7Fw0wZj9VTLcu0Diti2AJN8Pw\n"
					},
					"body": {
						"value": "{\n    \"type\": \"Microsoft.DataFactory/factories/linkedservices\",\n    \"properties\": {\n        \"annotations\": [],\n        \"type\": \"OData\",\n        \"typeProperties\": {\n            \"url\": \" https://tessenderlogroup-pilot.csod.com/services/api/x/odata/api/views\",\n            \"authenticationType\": \"Anonymous\",\n            \"authHeaders\": {\n                \"Authorization\": {\n                    \"type\": \"SecureString\",\n                    \"value\": \"@{variables('token')}\"\n                }\n            }\n        }\n    }\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetCSODToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://tessenderlogroup-pilot.csod.com/services/api/oauth2/token?Content-Type=application/json&cache-control=no-cache",
					"method": "POST",
					"headers": {
						"Accept": "application/json"
					},
					"body": {
						"clientId": "18n7745n5ams8",
						"clientSecret": "535b7060ec3e9032a1dd317b9145ba0260f078a6156c082fc7d9cb97315eb93f",
						"grantType": "client_credentials",
						"scope": "all"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "UpdateLinkedService",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ODataResource1",
						"type": "DatasetReference",
						"parameters": {
							"view": "vw_rpt_user"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"Filesystem": "datalakedevck",
							"Directory": "Downloaded",
							"Filename": "applicant.parquet"
						}
					}
				]
			},
			{
				"name": "SetCSODToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetCSODToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "token",
					"value": {
						"value": "@concat('Bearer ', activity('GetCSODToken').output.access_token)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetADToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetADToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "adtoken",
					"value": {
						"value": "@concat('Bearer ', activity('GetADToken').output.access_token)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetADToken_copy1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/common/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=078a4010-f8a4-4b6e-846f-75416b5f0b76&client_secret=ksJ8Q~TTWp10p.2towAjtHj.Q5izAXYtMUsJKduK&resource=https%3A%2F%2Fgraph.microsoft.com\n"
				}
			}
		],
		"parameters": {
			"view_name": {
				"type": "string"
			}
		},
		"variables": {
			"token": {
				"type": "String"
			},
			"adtoken": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-07T05:11:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}